extends layout
block content
     header
      h1= title
     h2 Seleccione su ruta
     nav
        ul
         li#route1
           a(href='#') Ruta 1
         li#route2
           a(href='#') Ruta 2
         li#route3
           a(href='#') Ruta 3
         li#route4
           a(href='#') Ruta 4
