extends layout
block content
     header
      h1= title
     h2 Seleccione su ruta
     nav
        ul
         li#route1
           a(href='#') Heredia
         li#route2
           a(href='#') Belen
         li#route3
           a(href='#') Cartago
         li#route4
           a(href='#') Pavas Curridabat
