extends layout
block content
  header
    h1=title
    h3 Seleccione su ruta
    
    nav
        ul
            li#heredia
                a(href='/map/heredia') Heredia
            li#belen
                a(href='/map/belen') Belen
            li#cartago
                a(href='/map/cartago') Cartago
            li#pavas
                a(href='/map/pavas') Pavas Curridabat