extends layout
block content
  header
    h1=title
    h3 Seleccione su ruta
    nav
      ul
        li#route1
          a(href='/map') Heredia
        li#route2
          a(href='/map') Belen
        li#route3
          a(href='/map') Cartago
        li#route4
          a(href='/map') Pavas Curridabat