extends layout
block content
  header
    h1=title
    h3 Seleccione su ruta
    
    nav
        ul
            li#route1
                a(href='/map/heredia') Heredia
            li#route2
                a(href='/map/belen') Belen
            li#route3
                a(href='/map/cartago') Cartago
            li#route4
                a(href='/map/pavas') Pavas Curridabat