extends layout
block head
                link(href="./css/leaflet.css", rel="stylesheet")

block content
     
        header
            nav
                    ul 
                            li
                                     button.btn.btn-primary.btn-block#start 
                                        | Iniciar
                            li
                                    button.btn.btn-primary.btn-block#stop 
                                        | Detener
                            li
                                    button.btn.btn-primary.btn-block#reset 
                                        | Reiniciar                                        

                            
        div#map

block footer
                script(src='./js/leaflet.js')
                script(src='./js/map.js')
                script(src='./js/AnimatedMarker.js')



