extends layout
block head
                link(href="./css/leaflet.css", rel="stylesheet")


block content
   header
        h1= title
        h3 Seleccione su ruta
    
        nav
                ul
                        li
                                button.btn.btn-primary.btn-block#heredia 
                                    | Heredia 

                        li
                                button.btn.btn-primary.btn-block#belen 
                                    | Belen 
                        li
                                button.btn.btn-primary.btn-block#cartago 
                                    | Cartago
                        li
                                button.btn.btn-primary.btn-block#pavas 
                                    | Pavas
        
   div.app
                div.loading
                div#infobox.infobox
                div#map

block footer
                script(src='./models/routes.js')
                script(src='./models/stops.js')
                script(src='./js/leaflet.js')
                script(src='./js/socket.io.js')
                script(src='./js/map.js')



