extends layout
block head
	link(href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css", rel="stylesheet")


block content

	h1= title
		
	div.app
		div.loading
		div#infobox.infobox
		div#map Necesito usar su localizacion para poder funcionar!

block footer
	script(src="./js/leaflet.js")
	script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js")
	script(src="./js/socket.io.js")
	script(src="./js/map.js")
	script(src='js/main.js')