extends layout
block head
                link(href="./css/leaflet.css", rel="stylesheet")

block content
     
       header
            h1= title
            h3 Presione iniciar para que haga feo
        
            nav
                    ul
                         
                            li
                                    button.btn.btn-primary.btn-block#start 
                                        | Iniciar
                        
        div#map

block footer
                script(src='./js/leaflet.js')
                 script(src='./js/socket.io.js')
                script(src='./js/map.js')
                script(src='./js/AnimatedMarker.js')



